<div id="rate-stars"></div>

<script>
  $('#rate-stars').empty();
  $('#rate-stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: 'book[rate]',
    half: true
  });
</script>
