<div class='container px-5 px-sm-0'>
  <h2>Search result "<%= @search_params[:word] %>" - <%= @search_params[:range] %></h2>
  <%case @search_params[:range]
    when "User"%>
    <%= render 'users/index', users: @users %>
  <%when "Book"%>
    <%= render 'books/index', books: @books %>
  <%end%>
</div>
